// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.public-channels-list li, .private-channels-list li {
  padding-top: 5px;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.public-channels-list li::before {
  content: "# ";
}

.private-channels-list li::before {
  content: "# ";
}



.fa-plus-circle:hover {
  color: white;
  cursor: pointer;
}

.channel-list-plus-circle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.channel-list-plus-circle p:hover {
  color: white;
  cursor: pointer;
}

.channel-all {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.channel-list-container {
  position:fixed;
  top:0;
  left:0;
  background-color: #4d394b;
  width: 225px;
  height: 100%;
  z-index: 1;
}

.channel-list-container li:hover {
  background-color: #3E313C;
  cursor: pointer;
}

.channel-list-container * {
  color: rgb(202,196,201);
}

.channel-main {
  position:fixed;
  top:0;
  left:225px;
  // right: 0;
  // padding-left: 20px;
  margin-right: 225px;
  height: 100%;
  width: calc(100vw - 241px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

// .main {
//   padding-right: 30px;
// }
