// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
    height: 100%
}

.fa-plus-circle:before {
    content: "\f055";
}

.channel-all {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.channel-list-container {
  position:fixed;
  top:0;
  left:0;
  background-color: #4d394b;
  width: 225px;
  height: 100%;
}

.channel-list-container * {
  color: rgb(202,196,201);
}

.channel-main {
  position:fixed;
  top:0;
  left:225px;
  padding-left: 20px;
  height: 100%;
  width: 100%;
  border: solid red;
  display: flex;
  flex-direction: column;
}

.channel-header {
  border: solid red;
  display: flex;
  flex-direction: row;
}
