.chat-input {
  // position:fixed;
  // bottom:25px;
  // left:250px;
  display: block;
  font-size: 16px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  // margin: 10px;
  width: 100%;
  box-sizing: border-box;
}

.chat-input-container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.chat-logs {
  // position: fixed;
  height: 750px;
  // width: 100%;
  // height: 500px;
  overflow-y: scroll;
}

.chat-logs h1 {
  margin-left: 20px;
}

.chat-logs h1:before {
  content: '# '
}

.chat-author {
  font-weight: bold;
}

.chat-message, .chat-message-first {
  margin-top: 8px;
}

.chat-message
{
  margin-left: 52px;
}

.chat-message img {
  max-width:360px;
}

.chat-message-header {
  display: flex;
  flex-direction: row;
  // margin-bottom: 8px;
}

.chat-message-header > div {
  margin-left: 8px;
}

.chat-author-and-created-at-container span {

}

.profile-pic {
  border-radius: 8px;
}

.chat-section {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 20px;
}

.chat-created-at {
  margin-left: 5px;
  color: gray;
  font-size: 11px;
}
