.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 10;
}

.modal-child {
  width: 700px;
  margin:auto;
}

.public-channel-form-div form {
  display: flex;
  flex-direction: row;
}

.public-channel-form-div input[type='text'] {

}

.private-channel-name-input, .private-channel-user-input, .public-channel-form-div input[type='text'], .public-channel-search-input {
  font-size: 20px;
  padding: 15px;
  margin: 5px;
  border-color: gray;
  border-width: thin;
  width: 100%;
  box-sizing: border-box;
}

.private-channel-name-input-label {
  margin-left: 10px;
  font-weight: bold;
}

.private-channel-user-input-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.private-channel-user-input-div input[type='submit'], .public-channel-form-div input[type='submit'] {
  border: none;
  font-size: 20px;
  padding: 15px;
  margin: 5px;
  // color: gray; TODO: gray when no users selected
  // background-color: lightgray;
}

// .close-modal-x {
//   display: flex;
//   justify-content: flex-end;
// }

.close-modal-x h1 {
  position: fixed;
  right: 55px;
  top: 35px;
  color: gray;
  font-weight: 400;
  padding: 10px 20px;
}

.close-modal-x h1:hover {
  background-color: lightgray;
  border-radius: 50%;
  cursor: pointer;
}

.private-channel-form-privateChannel-ul, .join-channel-form-publicChannel-ul {
  height: 500px;
  overflow-y: scroll;
}

.private-channel-form-privateChannel-ul li, .join-channel-form-publicChannel-ul li {
  font-weight: bold;
  font-size: 15px;
}

.private-channel-form-privateChannel-ul div, .join-channel-form-publicChannel-ul div {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: thin solid lightgray;
  padding: 10px;
  border-radius: 5px;
}

.private-channel-form-privateChannel-ul div:hover, .join-channel-form-publicChannel-ul div:hover {
  cursor: pointer;
  background-color: rgb(234, 245, 252);
  border: thin solid rgb(203, 231, 247);
}

.private-channel-form-selected-user-tag {
  color: white;
  background-color: #2d9ee0;
  padding: 5px;
  margin-left: 5px;
  border-radius: 3px;
}

.private-channel-form-selected-user-tag:hover {
  cursor: pointer;
}

.profile-pic-in-tag {
  border-radius: 3px;
}

.private-channel-form-selected-user-tag-username {
  font-weight: bold;
  margin-left: 6px;
  margin-right: 6px;
}

.usernamesToList-div {
  // display: flex;
  // align-items: center;
}

// .private-channel-form-div {
//   max-width: 100%;
// }
