.dropdown {
  position: fixed;
  padding: 8px 0;
  width: 300px;
  background-color: white;
  border: solid lightgray;
  border-width: thin;
  margin-left: 10px;
  border-radius: 10px;
}

.dropdown span {
  color: black;
}

.dropdown li:hover {
  background-color: rgb(45, 158, 224);
}

.dropdown li {
  color: #2c2d30;
  // padding: 5px;
}

.dropdown h3 {
  color: black;
  margin-bottom: 10px;
}
