html, body {
    height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 2em;
  text-indent: -.7em;
}

input {
  display:block;
  border-radius: 5px;
  border-style: solid;
  border-color: lightgray;
}

input:focus {
  outline: none;
  border-color: gray
}

label {
  display:block;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: gray;  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray; 
}

body::-webkit-scrollbar {
  width: 0;
}